﻿* {
    margin: 0; padding: 0;
}

body {
    text-align: center;
    font: 12px Verdana;
    color: #565656;
    background-color: #e9e9e9;
}
a {
    color: #dc1000;
    text-decoration: none;
}

#login {
    padding: 2%;
    margin-left:35%;
}
form.identificarse{
    padding-top:1%;
}

#sesion{
    text-align:right;
    padding: 2px;
    margin-right:1%;
}

#none{
    width: fit-content;
    height: fit-content;
}

a:hover {
    color: #000000;
}
img {
    border: 0;
}

.break {
    font-size: 0;
    width: 0; height: 0;
    clear: both;
}
#wrapper {
    width: 1000px;
    background: url(images/background.gif) repeat-y 0 0;
    margin: auto auto;
    text-align: left;
    padding: 0 7px; /** Para ver sombra de la imagen del fondo**/
}

#header {
    background: #ffffff;
}
#header img {
    width: 1000px;
    height: 250px;
}

#header .logo {
    padding: 0px 0px 20px 0px; /**Espacio entre el banner y la barra de navegación**/
}
#header .logo h1 {
    font-family: "Lucida Sans";
    font-size: 24pt;
    color: #252525;
    text-transform: uppercase;
    padding: 10px 10px 10px 10px;
}
#header .logo p {
    color: #DE2011;
    font-weight: bold;
    padding-left: 15px;
}
table.formulario {
    margin-left: auto;
    margin-right: auto;
}
div.login{
    margin-top:10 pt;
    padding-bottom:10 pt;
}

#header ul {
    list-style-type: none;
    height: 40px;
    background-color: #252525;
    text-align: center;
    font-size: 14pt;
}
hr.linea{
    height: 70px;
    background-color: #252525;
}
#header ul li {
    display: inline;
}

#header ul li a {
    color: #ffffff;
    display: inline-block;
    padding: 9px 70px 8px;
}

#header ul li a:hover {
    background-color: #DC1000;
}

#header ul li a:hover {
    background-color: #DC1000;
}

#header .subseccion ul {
    list-style-type: none;
    height: 25px;
    background-color: #e9e9e9;
    text-align: center;
    font-size: 10pt;
}
#header .subseccion ul li {
    display: inline;
}

#header .subseccion ul li a {
    color: #252525;
    display: inline-block;
    padding: 5px 50px 5px;
}

#header .subseccion ul li a:hover {
    background-color: #a9a9a9;
}

#content {
    width: 1000px;
    float: left;
    background-color: #ffffff;
}

#content .post {
    width: 450px; height: 350px;
    float: left;
    padding: 20px 15px 0 35px;
}

#content .post2 {

    float: left;
    padding: 20px 15px 0 35px;
}

#content .post h2 {
    font-family: Georgia;
    font-size: 14pt;
    margin-bottom: 15px;
}

#content .post h2 a {
    color: #252525;
}

#content .post .date {
    font-size: 8pt;
    font-family: Georgia;
    color: #808080;
    margin-bottom: 15px;
}

#content .post .continue {
    color: #ffffff;
    background-color: #DC1000;
    padding: 5px 10px;
    display: block;
    float: left;
    font-family: Georgia;
    font-weight: bold;
    margin-bottom: 25px;
}

#content .post p {
    margin-bottom: 10px;
}

#content .post .thumb {
    height: 150px;
    width: 450px;
    overflow: hidden;
    padding: 5px;
    background-color: #ffffff;
    margin-bottom: 10px;
}

#content .post .thumb img {
    width: 400px;
}

#content .postnav {
    clear: both;
    padding: 25px 30px
}

#content .postnav ul {
    list-style-type: none;
    border: 0;
}

#content .postnav ul li {
    float: left;
    padding: 2px;
}

#content .postnav ul li a {
    display: block;
    text-align: center;
    text-decoration: none;
    border: 0;
    padding: 5px 8px;
    background-color: #9F9F9F;
    color: #ffffff;
    font-family: Georgia;
    font-weight: bold;
}

div.noticia{
    padding-top: 10pt;
    padding-bottom: 10pt;
}

p.encabezado{
    font-size: 14pt;
    padding-bottom: 10pt;
    font-family: Arial;
    color:  #000000;
}

p.cuerpo{
    font-size: 12pt;
    padding-bottom: 10pt;
    font-family: Calibri;
    color:  #000000;
}
#content .postnav ul li a:hover {
    background-color: #DC1000;
    border: 0;
}

#content .postnav ul li.next a {
    width: auto;
    padding: 2px 4px;
}

#footer {
    clear: both;
    background-color: #252525;
    color: #ffffff;
    font-family: Georgia;
    padding: 30px;
    margin-top:20pt;
}

#clasificacion {

    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

#tablaClasificacion {
    margin: 0 auto;
    text-align: left;

}